/* ---------- GENERAL ---------- */
html, body {
  height: 100%;
  background: #FAFAFA;
}

.container:first-of-type, .container-fluid:first-of-type:not(.header) {
  margin-top: 68px;
}

a:hover {
  text-decoration: none;
}

a h3, a h5 {
  color: #1C1C1C;
}

a h3:hover, a h5 :not(.capsule-button):hover {
  color: #4A4A4A;
}

a img:hover {
  opacity: 0.6;
}

img:not(.enable-pointer) {
  pointer-events: none;
}

.separator {
  background-color: white;
  height: 12px;
}

.knockout-text {
  transform: translateZ(0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Enables scrolling to specific page sections while offsetting navbar height */
*[id]:before { 
  display: block; 
  visibility: hidden; 
  margin-top: -68px; 
  height: 68px; 
  content: ""; 
}

/* ---------- SPECIFIC PAGES ---------- */
/* Homepage */
.language-subtitle {
  color: #686868;
  font-size: large;
}

.google-maps {
  border-radius: 5px;
}

/* Project page */
.project-img {
  transform: scale(1.2);
  filter: brightness(45%) blur(12.5px);
  width: 100%;
  height: 100%;
  min-height: 650px;
  max-height: 40vh;
  object-fit: cover;
}

.project-text {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  color: white;
}

/* ---------- COMPONENTS ---------- */
/* Capsule-shaped button */
.capsule-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #595959;
  border-radius: 500px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.capsule-button:hover { background-color: rgba(89, 89, 89, 0.7); }

a.capsule-button h5, a.capsule-button h6 {
  color: black;
  display: inline;
}

/* Hero */
.hero-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-index-desktop {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.hero-text {
  text-align: center;
  line-height: 1.0625;
  text-shadow: 1px 1px 2px #333333;
}

/* Navigation Bar */
.navbar {
  padding: 0;
  background-color: rgba(28, 28, 28, 0.7) !important;
  -webkit-backdrop-filter: saturate(200%) blur(25px);
  backdrop-filter: saturate(200%) blur(20px);
}

.navbar-brand { padding: 0; }

.navbar img {
  float: left;
  margin: 8px;
  height: 52px;
}

.navbar-toggler {
  margin-right: 8px;
  padding: 10px;
  background: #2F2F2F;
  border-color: #7F7F7F;
  font-size: 18px;
  color: white;
}

.dropdown-menu { background-color: #2F2F2F }
.dropdown-item { color: white; }
.dropdown-item:hover { background-color: #E3E3E3; }
.dropdown-item.active, .dropdown-item:active { background-color: #4A4A4A; }

.nav-link {
  font-size: 1.1em;
  color: white;
}

.nav-link:hover {
  color: #999999;
  text-decoration: none;
}

#link-divider {
  margin: 0px 8px 0px 8px;
  border-left: 1px solid #7F7F7F;
  height: 43px;
}

.navbar-img img {
  margin: 0;
  padding: 0px 8px 0px 8px;
  height: 40px;
  width: auto;
}

.navbar-img img:hover { filter: brightness(60%); }

/* ---------- CONDITIONALS ---------- */
/* Changes to fit navigation bar on extra small mobile screens (e.g. first-generation iPhone SE) */
@media (max-width: 340px) {
  .navbar img {
    margin: 11px;
    height: 46px;
  }
  
  .btn-icon { display: none; }
}

/* Font and minor design changes to adapt to extra small devices */
@media (max-width: 575px) {
  .hero-text { line-height: 92.5%; }
  .navbar .nav-item {
    padding: 0px 10px 10px 10px;
    text-align: center;
  }
  .nav-link { padding-bottom: 0; }

  .dropdown-menu {
    text-align: center;
  }
}

/* Allows dropdown menu to appear on hover on desktop */
@media (min-width: 576px) {
  .navbar-nav div:hover .dropdown-menu {
    display: block;
  }
}

/* Hides bottom margin on homepage lists on small screens */
@media (max-width: 768px) {
  .multi-column-list { margin-bottom: 1em; }
  .multi-column-list ul { margin: 0; }
}

/* Font changes to adapt to extra large screens */
@media (min-width: 1200px) {
  h1.hero-text { font-size: 64px; }
  h5.hero-text {
    font-size: 28px;
    white-space: nowrap;
  }
}

/* Support for system-wide dark mode */
@media (prefers-color-scheme: dark) {
  html, body, .container, .container-fluid { background: #111111; }
  h1, h2, h3, h4, h5, h6, p, li, .dropdown-item { color: #DEDAD6; }
  a h3, a h5 { color: #E3E3E3; }
  a h3:hover, a h5 :not(.capsule-button):hover { color: #B5B5B5; }
  hr { border-color: #2E2E2E; }
  .language-subtitle { color: #979797; }
  .knockout-text { filter: brightness(125%); }
  .separator { background-color: black; }

  .google-maps {
    opacity: 0.8;
    transition: .5s ease-in-out;
  }
  .google-maps:hover { opacity: 1; }

  .capsule-button { background-color: rgba(35, 35, 35, 0.5) }
  .capsule-button:hover { background-color: rgba(70, 70, 70, 0.7); }
  a.capsule-button h5, a.capsule-button h6 { color: white; }
  .capsule-button img { filter: invert(100%); }
}

/* Support for devices with a notch design */
@supports(padding: max(0px)) {
  .col, #projects-section {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  #signature-img { padding-left: env(safe-area-inset-left); }
  .navbar { padding-right: env(safe-area-inset-right); }
}